.bidchart div {
    font: 10px sans-serif;
    background-color: steelblue;
    align: right;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

.askchart div {
    font: 10px sans-serif;
    background-color: red;
    align: left;
    text-align: left;
    padding: 3px;
    margin: 1px;
    color: white;
}
