.chart rect.bid {
    fill: steelblue;
}

.chart rect.ask {
    fill: red;
}

.axis {
    font: 12px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
